body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* 
   ESTILOS GENERALES Y MODO OSCURO
    */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333333;
    line-height: 1.6;
}

body.dark-mode header,
body.dark-mode article,
body.dark-mode form,
body.dark-mode footer {
    background-color: #1e1e1e;
    color: #ffffff;
    border-color: #333333;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
    background-color: #2b2b2b;
    color: #ffffff;
    border-color: #444444;
}

/* 
   EN CABEZADO Y NAVEGACIÓN
    */
header {
    background-color: #1b263b;
    color: #ffffff;
    padding: 15px 50px;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    font-size: 16px;
    font-weight: normal;
}

nav a:hover {
    color: #e0a96d;
}

